.nav {
    padding: 15px 0px;
    background: #fff;
    box-shadow: 0 0px 5px #000;
    position: sticky;
    width: 100%;
    top: 0;
}

body {
    padding: 0 0 65px 0;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--basic-bg);
    font-size: 25px;
    font-family: "Roboto Mono";
}

.signBox {
    display: flex;
    justify-content: space-between;
}

.in {
    color: var(--basic-bg);
    display: inline-block;
    border: 2px solid var(--basic-bg);
    padding: 3px 5px;
    border-radius: 9px;
    margin-right: 10px;
}

.up {
    color: #fff;
    display: inline-block;
    border: 2px solid var(--basic-bg);
    padding: 3px 5px;
    border-radius: 9px;
    background: var(--basic-bg);
}