:root {
    --container-width: 1310px;
    --basic-bg: rgba(0, 0, 0, .7);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: var(--container-width);
    margin: auto;
}

body {
    font-family: "Montserrat";
}

@media (max-width: 1400px) {
    :root {
        --container-width: 1100px;
    }
}

@media (max-width: 1200px) {
    :root {
        --container-width: 992px;
    }
}

@media (max-width: 992px) {
    :root {
        --container-width: 992px;
    }
}